<p style="color: green"><%= notice %></p>
<div class="container">
<div class="d-flex justify-content-between">
  <h1>Foods</h1>
  <%= link_to "New food", new_food_path, class: "btn btn-outline-primary justify-self-right" %>
</div>
<br/>
<table class="table table-striped" id="foods">
  <thead>
    <tr>
      <th scope="col">Food</th>
      <th scope="col">Measurement unit</th>
      <th scope="col">Unit price</th>
      <th scope="col">Quantity</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
  <% @foods.each do |food| %>
    <%= render food %>
  <% end %>
  </tbody>
</table>
</div>

