/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  font-family: 'Pangolin', cursive !important;
}

.container-column {
  list-style: none;
  display: flex;
  flex-direction: column;
  flex: 1;
}

/* .container {
  display: flex;
  flex: 1;
  gap: 12px;
} */

.container-solid {
  display: flex;
  justify-content: space-between;
  flex: 1;
  gap: 12px;
  border: solid black 1px;
}

#recipes {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 12px;
}

.no-text-decoration {
  text-decoration: none;
}
